@import "~bootstrap/scss/variables";

$primary: #E4003B;
$secondary: #E4003B;
$tertiary: #EF5728;
$dim-gray: #707070;
$white-smoke: #F7F7F7;

$theme-colors: () !default;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "quaternary": $dim-gray,
    "quintenary": $white-smoke,
  )
);